services:
  mysql:
    ports: [] # 프로덕션 환경에서는 포트를 외부에 노출하지 않음
    volumes:
      - mysql_data:/var/lib/mysql
    logging:
      driver: "json-file"
      options:
        max-size: "50m" # 로그 파일의 최대 크기를 50MB로 설정
        max-file: "5"   # 최대 5개의 로그 파일을 보관
    restart: always # 해당 컨테이너가 종료되면 자동으로 재시작하도록 하는 Docker 재시작 정책입니다.
