services:
  mysql:
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    logging:
      driver: "json-file"
      options:
        max-size: "10m" # 로그 파일의 최대 크기를 10MB로 설정
        max-file: "3"   # 최대 3개의 로그 파일을 보관

  redis:
    ports:
      - "${REDIS_PORT:-6379}:6379"
      -